In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [3]:
df_green = spark.read \
.option("header","true") \
.csv('data/raw/green/2021/01/')

In [4]:
import pandas as pd

In [6]:
df_green_pd = pd.read_csv('data/raw/green/2021/01/green_tripdata_2021_01.csv.gz', nrows=1000)

In [8]:
spark.createDataFrame(df_green_pd).schema

StructType(List(StructField(VendorID,LongType,true),StructField(lpep_pickup_datetime,StringType,true),StructField(lpep_dropoff_datetime,StringType,true),StructField(store_and_fwd_flag,StringType,true),StructField(RatecodeID,LongType,true),StructField(PULocationID,LongType,true),StructField(DOLocationID,LongType,true),StructField(passenger_count,LongType,true),StructField(trip_distance,DoubleType,true),StructField(fare_amount,DoubleType,true),StructField(extra,DoubleType,true),StructField(mta_tax,DoubleType,true),StructField(tip_amount,DoubleType,true),StructField(tolls_amount,DoubleType,true),StructField(ehail_fee,DoubleType,true),StructField(improvement_surcharge,DoubleType,true),StructField(total_amount,DoubleType,true),StructField(payment_type,LongType,true),StructField(trip_type,LongType,true),StructField(congestion_surcharge,DoubleType,true)))

In [9]:
from pyspark.sql import types

In [10]:
green_schema = types.StructType([
    types.StructField("VendorID", types.IntegerType(), True),
    types.StructField("lpep_pickup_datetime", types.TimestampType(), True),
    types.StructField("lpep_dropoff_datetime", types.TimestampType(), True),
    types.StructField("store_and_fwd_flag", types.StringType(), True),
    types.StructField("RatecodeID", types.IntegerType(), True),
    types.StructField("PULocationID", types.IntegerType(), True),
    types.StructField("DOLocationID", types.IntegerType(), True),
    types.StructField("passenger_count", types.IntegerType(), True),
    types.StructField("trip_distance", types.DoubleType(), True),
    types.StructField("fare_amount", types.DoubleType(), True),
    types.StructField("extra", types.DoubleType(), True),
    types.StructField("mta_tax", types.DoubleType(), True),
    types.StructField("tip_amount", types.DoubleType(), True),
    types.StructField("tolls_amount", types.DoubleType(), True),
    types.StructField("ehail_fee", types.DoubleType(), True),
    types.StructField("improvement_surcharge", types.DoubleType(), True),
    types.StructField("total_amount", types.DoubleType(), True),
    types.StructField("payment_type", types.IntegerType(), True),
    types.StructField("trip_type", types.IntegerType(), True),
    types.StructField("congestion_surcharge", types.DoubleType(), True)
])

yellow_schema = types.StructType([
    types.StructField("VendorID", types.IntegerType(), True),
    types.StructField("tpep_pickup_datetime", types.TimestampType(), True),
    types.StructField("tpep_dropoff_datetime", types.TimestampType(), True),
    types.StructField("passenger_count", types.IntegerType(), True),
    types.StructField("trip_distance", types.DoubleType(), True),
    types.StructField("RatecodeID", types.IntegerType(), True),
    types.StructField("store_and_fwd_flag", types.StringType(), True),
    types.StructField("PULocationID", types.IntegerType(), True),
    types.StructField("DOLocationID", types.IntegerType(), True),
    types.StructField("payment_type", types.IntegerType(), True),
    types.StructField("fare_amount", types.DoubleType(), True),
    types.StructField("extra", types.DoubleType(), True),
    types.StructField("mta_tax", types.DoubleType(), True),
    types.StructField("tip_amount", types.DoubleType(), True),
    types.StructField("tolls_amount", types.DoubleType(), True),
    types.StructField("improvement_surcharge", types.DoubleType(), True),
    types.StructField("total_amount", types.DoubleType(), True),
    types.StructField("congestion_surcharge", types.DoubleType(), True)
])

In [11]:
year = 2020

for month in range(1, 13):
    print(f'processing data for {year}/{month}')

    input_path = f'data/raw/green/{year}/{month:02d}/'
    output_path = f'data/pq/green/{year}/{month:02d}/'

    df_green = spark.read \
        .option("header", "true") \
        .schema(green_schema) \
        .csv(input_path)

    df_green \
        .repartition(4) \
        .write.parquet(output_path)

processing data for 2020/1
processing data for 2020/2
processing data for 2020/3
processing data for 2020/4
processing data for 2020/5
processing data for 2020/6
processing data for 2020/7
processing data for 2020/8
processing data for 2020/9
processing data for 2020/10
processing data for 2020/11
processing data for 2020/12

In [12]:
year = 2021 

for month in range(1, 13):
    print(f'processing data for {year}/{month}')

    input_path = f'data/raw/green/{year}/{month:02d}/'
    output_path = f'data/pq/green/{year}/{month:02d}/'

    df_green = spark.read \
        .option("header", "true") \
        .schema(green_schema) \
        .csv(input_path)

    df_green \
        .repartition(4) \
        .write.parquet(output_path)

processing data for 2021/1
processing data for 2021/2
processing data for 2021/3
processing data for 2021/4
processing data for 2021/5
processing data for 2021/6
processing data for 2021/7
processing data for 2021/8
processing data for 2021/9

AnalysisException: 'Path does not exist: file:/home/rungsunan/code/DEZ/homework4/data/raw/green/2021/09;'

In [13]:
year = 2020

for month in range(1, 13):
    print(f'processing data for {year}/{month}')

    input_path = f'data/raw/yellow/{year}/{month:02d}/'
    output_path = f'data/pq/yellow/{year}/{month:02d}/'

    df_yellow = spark.read \
        .option("header", "true") \
        .schema(yellow_schema) \
        .csv(input_path)

    df_yellow \
        .repartition(4) \
        .write.parquet(output_path)

processing data for 2020/1
processing data for 2020/2
processing data for 2020/3
processing data for 2020/4
processing data for 2020/5
processing data for 2020/6
processing data for 2020/7
processing data for 2020/8
processing data for 2020/9
processing data for 2020/10
processing data for 2020/11
processing data for 2020/12

In [14]:
year = 2021

for month in range(1, 13):
    print(f'processing data for {year}/{month}')

    input_path = f'data/raw/yellow/{year}/{month:02d}/'
    output_path = f'data/pq/yellow/{year}/{month:02d}/'

    df_yellow = spark.read \
        .option("header", "true") \
        .schema(yellow_schema) \
        .csv(input_path)

    df_yellow \
        .repartition(4) \
        .write.parquet(output_path)

processing data for 2021/1
processing data for 2021/2
processing data for 2021/3
processing data for 2021/4
processing data for 2021/5
processing data for 2021/6
processing data for 2021/7
processing data for 2021/8
processing data for 2021/9

AnalysisException: 'Path does not exist: file:/home/rungsunan/code/DEZ/homework4/data/raw/yellow/2021/09;'

In [20]:
df_green.show()

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       2| 2020-01-28 16:21:30|  2020-01-28 16:29:10|                 N|         1|          75|         263|              2|         0.81|        6.0|  1.0|    0.5|       0.0|         0.0|     null|                  0.3|       10.55|           2|        1|                2.75|
|    null| 2020-01-21 08:04:00|  2020-01-21 08:40:00|              null|      null|          65|         258|           null|        11.84|      40.32| 2.75|    0.5|       0.0|         0.0|     null|                  0.3|       43.87|        null|     null|                null|
|    null| 2020-01-10 16:22:00|  2020-01-10 16:44:00|              null|      null|          28|         218|           null|         3.94|      22.45| 2.75|    0.0|       0.0|         0.0|     null|                  0.3|        25.5|        null|     null|                null|
|       2| 2020-01-14 23:51:06|  2020-01-15 00:17:47|                 N|         1|         255|         225|              1|         3.83|       18.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        19.8|           2|        1|                 0.0|
|       2| 2020-01-23 22:40:24|  2020-01-23 22:49:42|                 N|         1|          95|         192|              1|         3.15|       11.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        12.8|           2|        1|                 0.0|
|       2| 2020-01-11 21:04:04|  2020-01-11 21:13:42|                 N|         1|          82|         129|              1|         1.13|        7.5|  0.5|    0.5|      1.25|         0.0|     null|                  0.3|       10.05|           1|        1|                 0.0|
|       2| 2020-01-11 17:22:57|  2020-01-11 17:23:01|                 N|         1|          65|          65|              1|          0.0|        2.5|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|         3.3|           2|        1|                 0.0|
|       2| 2020-01-25 17:18:05|  2020-01-25 17:33:59|                 N|         1|         181|          33|              1|         2.31|       12.0|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|        12.8|           2|        1|                 0.0|
|       2| 2020-01-23 23:00:23|  2020-01-23 23:03:24|                 N|         1|         210|          29|              1|         0.94|        5.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         6.3|           2|        1|                 0.0|
|       1| 2020-01-19 14:34:41|  2020-01-19 14:49:17|                 N|         1|          41|         263|              1|          2.9|       12.5| 2.75|    0.5|       3.2|         0.0|     null|                  0.3|       19.25|           1|        1|                2.75|
|       1| 2020-01-17 14:20:46|  2020-01-17 14:34:53|                 N|         1|         243|         200|              1|          0.0|       20.2|  0.0|    0.5|       0.0|         2.8|     null|                  0.3|        23.8|           1|        1|                 0.0|
|    null| 2020-01-14 19:12:00|  2020-01-14 19:22:00|              null|      null|          17|          65|           null|          1.8|      22.36| 2.75|    0.0|       0.0|         0.0|     null|                  0.3|       25.41|        null|     null|                null|
|       2| 2020-01-19 14:08:45|  2020-01-19 14:24:06|                 N|         1|         166|         244|              1|         3.99|       15.5|  0.0|    0.5|      3.26|         0.0|     null|                  0.3|       19.56|           1|        1|                 0.0|
|       2| 2020-01-27 10:12:38|  2020-01-27 10:33:00|                 N|         1|          33|         229|              1|         7.04|       23.0|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|        28.5|           1|        1|                2.75|
|       2| 2020-01-01 01:26:56|  2020-01-01 01:29:57|                 N|         1|         244|         244|              5|         0.54|        4.5|  0.5|    0.5|      1.16|         0.0|     null|                  0.3|        6.96|           1|        1|                 0.0|
|       2| 2020-01-13 18:02:48|  2020-01-13 18:39:31|                 N|         1|          41|          47|              1|         5.23|       23.5|  1.0|    0.5|       0.0|         0.0|     null|                  0.3|        25.3|           2|        1|                 0.0|
|       2| 2020-01-10 21:31:47|  2020-01-10 21:47:20|                 N|         1|          97|          17|              3|         1.61|        8.5|  0.5|    0.5|      1.96|         0.0|     null|                  0.3|       11.76|           1|        1|                 0.0|
|       2| 2020-01-30 08:47:13|  2020-01-30 09:02:08|                 N|         1|         130|         132|              1|         4.99|       17.5|  0.0|    0.5|      0.01|         0.0|     null|                  0.3|       18.31|           1|        1|                 0.0|
|       2| 2020-01-18 19:16:36|  2020-01-18 19:25:08|                 N|         1|          25|         181|              1|          1.9|        8.0|  0.0|    0.5|       2.2|         0.0|     null|                  0.3|        11.0|           1|        1|                 0.0|
|    null| 2020-01-03 18:37:00|  2020-01-03 18:37:00|              null|      null|          81|          81|           null|          0.0|      22.26|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|       23.06|        null|     null|                null|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 20 rows

In [21]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [22]:
df_green=spark.read.parquet('data/pq/green/*/*')

In [24]:
df_yellow.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [27]:
df_green = df_green\
.withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime')\
.withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [28]:
df_yellow = df_yellow\
.withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime')\
.withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [30]:
common_columns = []
yellow_columns = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_columns:
        common_columns.append(col)

In [31]:
from pyspark.sql import functions as F

In [32]:
df_green_sel = df_green\
.select(common_columns)\
.withColumn('service_type', F.lit('green'))

In [33]:
df_yellow_sel = df_yellow\
.select(common_columns)\
.withColumn('service_type', F.lit('yellow'))

In [34]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [35]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [40]:
df_trips_data.registerTempTable('trips_data')

In [43]:
spark.sql("""
SELECT * FROM trips_data LIMIT 10
""").show()

+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
|VendorID|    pickup_datetime|   dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|payment_type|congestion_surcharge|service_type|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
|       2|2020-01-28 16:21:30|2020-01-28 16:29:10|                 N|         1|          75|         263|              2|         0.81|        6.0|  1.0|    0.5|       0.0|         0.0|                  0.3|       10.55|           2|                2.75|       green|
|    null|2020-01-21 08:04:00|2020-01-21 08:40:00|              null|      null|          65|         258|           null|        11.84|      40.32| 2.75|    0.5|       0.0|         0.0|                  0.3|       43.87|        null|                null|       green|
|    null|2020-01-10 16:22:00|2020-01-10 16:44:00|              null|      null|          28|         218|           null|         3.94|      22.45| 2.75|    0.0|       0.0|         0.0|                  0.3|        25.5|        null|                null|       green|
|       2|2020-01-14 23:51:06|2020-01-15 00:17:47|                 N|         1|         255|         225|              1|         3.83|       18.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        19.8|           2|                 0.0|       green|
|       2|2020-01-23 22:40:24|2020-01-23 22:49:42|                 N|         1|          95|         192|              1|         3.15|       11.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        12.8|           2|                 0.0|       green|
|       2|2020-01-11 21:04:04|2020-01-11 21:13:42|                 N|         1|          82|         129|              1|         1.13|        7.5|  0.5|    0.5|      1.25|         0.0|                  0.3|       10.05|           1|                 0.0|       green|
|       2|2020-01-11 17:22:57|2020-01-11 17:23:01|                 N|         1|          65|          65|              1|          0.0|        2.5|  0.0|    0.5|       0.0|         0.0|                  0.3|         3.3|           2|                 0.0|       green|
|       2|2020-01-25 17:18:05|2020-01-25 17:33:59|                 N|         1|         181|          33|              1|         2.31|       12.0|  0.0|    0.5|       0.0|         0.0|                  0.3|        12.8|           2|                 0.0|       green|
|       2|2020-01-23 23:00:23|2020-01-23 23:03:24|                 N|         1|         210|          29|              1|         0.94|        5.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         6.3|           2|                 0.0|       green|
|       1|2020-01-19 14:34:41|2020-01-19 14:49:17|                 N|         1|          41|         263|              1|          2.9|       12.5| 2.75|    0.5|       3.2|         0.0|                  0.3|       19.25|           1|                2.75|       green|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+

In [44]:
spark.sql("""
SELECT service_type,count(1) FROM trips_data 
GROUP BY 
service_type
""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [45]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [46]:
df_result.coalesce(1).write.parquet('data/report/revenue/', mode='overwrite')

In [48]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|          85|2020-01-01 00:00:00|       green|  19874.880000000034|               1476.5|                  187.5|                     165.9|           354.6800000000002|                   233.70000000000314|          22320.909999999923|                                11.0|        1.3349753694581281|       4.456345514950162|
|         218|2020-01-01 00:00:00|       green|   24689.35000000012|              1561.75|                  121.5|                      18.7|           735.9000000000003|                    246.0000000000036|          27375.149999999983|                                 0.0|        1.0754716981132075|       6.732052451539341|
|         116|2019-12-01 00:00:00|       green|               21.59|                  1.0|                    1.0|                      4.95|                         0.0|                   0.8999999999999999|          29.439999999999998|                                 0.0|                       1.0|      0.6366666666666666|
|          93|2020-02-01 00:00:00|       green|             3652.98|                131.0|                   45.0|        148.47000000000003|           87.96999999999998|                    39.60000000000005|           4123.470000000001|                                16.5|         1.380952380952381|       6.566783216783216|
|         165|2020-03-01 00:00:00|       green|   7704.349999999994|                32.25|                   49.0|         89.85999999999997|           221.9900000000001|                   120.29999999999922|           8282.650000000016|                                11.0|        1.3048780487804879|       4.505024509803923|
|         206|2020-03-01 00:00:00|       green|              393.17|                  3.5|                    3.5|                      7.96|           72.46000000000001|                    3.599999999999999|          484.19000000000005|                                 0.0|        3.2857142857142856|       9.602500000000001|
|          31|2020-03-01 00:00:00|       green|              1259.5|                  3.0|                   16.5|                    137.29|           68.19999999999997|                   14.700000000000014|          1545.9399999999998|                               46.75|        1.1111111111111112|        7.91764705882353|
|         256|2021-05-01 00:00:00|       green|  3698.6099999999997|               138.95|                   34.0|        234.97999999999996|                      159.34|                    42.89999999999995|           4390.530000000002|                               41.25|        1.0724637681159421|       6.119090909090909|
|         154|2021-05-01 00:00:00|       green|   851.3100000000001|                35.75|                    3.0|                     16.88|                       19.65|                    6.299999999999998|           932.8899999999999|                                 0.0|         2.857142857142857|      10.133333333333335|
|         184|2021-05-01 00:00:00|       green|              391.25|                30.75|                    3.5|                       1.0|                        13.1|                    4.499999999999999|          444.09999999999997|                                 0.0|        1.8571428571428572|       7.401333333333332|
|          48|2021-07-01 00:00:00|       green|  1517.6400000000003|   122.29999999999998|                    0.5|                       0.0|          136.99999999999997|                    13.20000000000001|          1790.6399999999999|                                 0.0|                       1.0|       853.8859090909089|
|         190|2021-07-01 00:00:00|       green|              920.56|                44.85|                   11.5|                     33.09|                        13.1|                    12.90000000000001|          1044.2499999999998|                                8.25|         1.173913043478261|       4.660232558139534|
|          15|2021-07-01 00:00:00|       green|             1151.17|                 55.0|                    3.0|                       6.9|           52.39999999999999|                    8.099999999999998|          1276.5700000000002|                                 0.0|                     1.375|       11.41185185185185|
|          67|2020-12-01 00:00:00|       green|  2491.3500000000004|                  0.5|                    4.0|                     281.1|                       55.08|                   31.500000000000032|          2869.0299999999997|                                 0.0|                       1.0|       4.967142857142858|
|          44|2020-12-01 00:00:00|       green|   925.6800000000001|                  5.0|                    7.0|                     47.36|                       51.98|                                  5.1|          1042.1200000000001|                                 0.0|                       1.0|       18.03882352941176|
|          54|2021-03-01 00:00:00|       green|              521.88|                 34.0|                    1.5|                     46.53|                       18.36|                    6.599999999999998|                      634.37|                                2.75|                      1.25|      6.5922727272727295|
|          96|2020-07-01 00:00:00|       green|               138.5|                  2.0|                    2.5|                     13.95|                        6.12|                                  2.1|          165.17000000000002|                                 0.0|                       1.0|      2.4014285714285717|
|         151|2021-02-01 00:00:00|       green|   2167.010000000001|               225.45|                    2.5|                       0.0|                       76.24|                   24.900000000000038|          2496.0999999999985|                                 0.0|                       1.0|       6.334939759036144|
|         106|2021-02-01 00:00:00|       green|              3542.3|               380.25|                   11.0|        43.839999999999996|                       24.48|                   49.499999999999886|          4056.8699999999985|                                 0.0|        1.0416666666666667|      3.8058787878787887|
|         171|2021-02-01 00:00:00|       green|  1649.0899999999988|                135.0|                    3.5|                     35.53|           55.07999999999999|                    17.40000000000002|          1900.6000000000001|                                 0.0|                       1.0|       6.716379310344828|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [49]:
spark.version

'2.4.0'

In [50]:
df_fhvhv = spark.read \
.option("header","true") \
.csv('data/raw/fhvhv/2021/02/')

In [51]:
df_fhvhv_pd = pd.read_csv('data/raw/fhvhv/2021/02/fhvhv_tripdata_2021_02.csv.gz', nrows=1000)

In [52]:
spark.createDataFrame(df_fhvhv_pd).schema

StructType(List(StructField(hvfhs_license_num,StringType,true),StructField(dispatching_base_num,StringType,true),StructField(pickup_datetime,StringType,true),StructField(dropoff_datetime,StringType,true),StructField(PULocationID,LongType,true),StructField(DOLocationID,LongType,true),StructField(SR_Flag,DoubleType,true)))

In [57]:
fhvhv_schema = types.StructType([
    types.StructField("hvfhs_license_num",types.StringType(),True),
    types.StructField("dispatching_base_num",types.StringType(),True),
    types.StructField("pickup_datetime",types.TimestampType(),True),
    types.StructField("dropoff_datetime",types.TimestampType(),True),
    types.StructField("PULocationID",types.IntegerType(),True),
    types.StructField("DOLocationID",types.IntegerType(),True),
    types.StructField("SR_Flag",types.DoubleType(),True)
])

In [56]:
from pyspark.sql import types

In [71]:
df_fhvhv = spark.read \
.option("header","true") \
.schema(fhvhv_schema) \
.csv('data/raw/fhvhv/2021/02/')

In [62]:
year = 2021

for month in range(2, 3):
    print(f'processing data for {year}/{month}')

    input_path = f'data/raw/fhvhv/{year}/{month:02d}/'
    output_path = f'data/pq/fhvhv/{year}/{month:02d}/'

    df_fhvhv = spark.read \
        .option("header", "true") \
        .schema(fhvhv_schema) \
        .csv(input_path)

    df_fhvhv \
        .repartition(4) \
        .write.parquet(output_path)

processing data for 2021/2

In [89]:
df_fhvhv=spark.read.parquet('data/pq/fhvhv/2021/02')

In [90]:
df_fhvhv.columns

['hvfhs_license_num',
 'dispatching_base_num',
 'pickup_datetime',
 'dropoff_datetime',
 'PULocationID',
 'DOLocationID',
 'SR_Flag']

In [83]:
df_fhvhv.withColumn("pickup_date",col("pickup_datetime").cast(DateType))

TypeError: 'str' object is not callable

In [75]:
df_fhvhv.groupBy('pickup_datetime').count().show()

+-------------------+-----+
|    pickup_datetime|count|
+-------------------+-----+
|2021-02-16 23:31:05|    4|
|2021-02-06 13:01:53|   10|
|2021-02-13 13:12:59|    8|
|2021-02-11 07:55:05|    7|
|2021-02-16 09:04:21|    8|
|2021-02-05 13:19:03|    8|
|2021-02-15 09:37:45|    9|
|2021-02-05 17:47:14|   12|
|2021-02-03 16:55:41|    6|
|2021-02-16 16:52:15|    2|
|2021-02-22 16:41:25|   10|
|2021-02-27 00:37:18|    6|
|2021-02-01 00:00:35|    2|
|2021-02-01 00:09:18|    3|
|2021-02-01 00:29:57|    1|
|2021-02-01 00:42:45|    2|
|2021-02-01 00:43:47|    1|
|2021-02-01 00:51:48|    2|
|2021-02-01 00:52:51|    2|
|2021-02-01 01:13:06|    1|
+-------------------+-----+
only showing top 20 rows

In [94]:
df_fhvhv.registerTempTable('fhvhv_data')

In [100]:
spark.sql("""
SELECT 
 count(1),date_trunc('day', pickup_datetime) as HOUR FROM fhvhv_data
 group by date_trunc('day', pickup_datetime)
""").show()

+--------+-------------------+
|count(1)|               HOUR|
+--------+-------------------+
|  398445|2021-02-08 00:00:00|
|  392696|2021-02-23 00:00:00|
|  460661|2021-02-14 00:00:00|
|  469162|2021-02-12 00:00:00|
|  362596|2021-02-16 00:00:00|
|  367170|2021-02-15 00:00:00|
|  509331|2021-02-13 00:00:00|
|  422116|2021-02-28 00:00:00|
|  500049|2021-02-26 00:00:00|
|  344533|2021-02-07 00:00:00|
|  459887|2021-02-19 00:00:00|
|  428288|2021-02-11 00:00:00|
|  412556|2021-02-24 00:00:00|
|  436556|2021-02-25 00:00:00|
|  509383|2021-02-27 00:00:00|
|  399763|2021-02-21 00:00:00|
|  302785|2021-02-02 00:00:00|
|  398476|2021-02-09 00:00:00|
|  497072|2021-02-20 00:00:00|
|  470555|2021-02-06 00:00:00|
+--------+-------------------+
only showing top 20 rows

In [109]:
spark.sql("""
SELECT date_trunc('day', pickup_datetime),
int(to_timestamp(dropoff_datetime))
- int(to_timestamp(pickup_datetime)) as diff
  FROM fhvhv_data order by diff desc
 
""").show()

+--------------------------------+-----+
|date_trunc(day, pickup_datetime)| diff|
+--------------------------------+-----+
|             2021-02-11 00:00:00|75540|
|             2021-02-17 00:00:00|57221|
|             2021-02-20 00:00:00|44039|
|             2021-02-03 00:00:00|40653|
|             2021-02-19 00:00:00|37577|
|             2021-02-25 00:00:00|35010|
|             2021-02-20 00:00:00|34806|
|             2021-02-18 00:00:00|34612|
|             2021-02-18 00:00:00|34555|
|             2021-02-10 00:00:00|34169|
|             2021-02-10 00:00:00|32476|
|             2021-02-25 00:00:00|32439|
|             2021-02-21 00:00:00|32223|
|             2021-02-09 00:00:00|32087|
|             2021-02-06 00:00:00|31447|
|             2021-02-02 00:00:00|30913|
|             2021-02-10 00:00:00|30856|
|             2021-02-09 00:00:00|30732|
|             2021-02-21 00:00:00|30660|
|             2021-02-05 00:00:00|30511|
+--------------------------------+-----+
only showing top 20 rows

In [112]:
spark.sql("""
SELECT dispatching_base_num, count(1) as count
  FROM fhvhv_data 
  group by dispatching_base_num order by count desc
 
""").show()

+--------------------+-------+
|dispatching_base_num|  count|
+--------------------+-------+
|              B02510|3233664|
|              B02764| 965568|
|              B02872| 882689|
|              B02875| 685390|
|              B02765| 559768|
|              B02869| 429720|
|              B02887| 322331|
|              B02871| 312364|
|              B02864| 311603|
|              B02866| 311089|
|              B02878| 305185|
|              B02682| 303255|
|              B02617| 274510|
|              B02883| 251617|
|              B02884| 244963|
|              B02882| 232173|
|              B02876| 215693|
|              B02879| 210137|
|              B02867| 200530|
|              B02877| 198938|
+--------------------+-------+
only showing top 20 rows

In [121]:
spark.sql("""
select  concat(PULocationID,DOLocationID), count(1) as count
  FROM fhvhv_data 
  group by concat(PULocationID,DOLocationID)
  order by count desc
 
""").show()

+------------------------------------------------------------------+-----+
|concat(CAST(PULocationID AS STRING), CAST(DOLocationID AS STRING))|count|
+------------------------------------------------------------------+-----+
|                                                              7676|45041|
|                                                              2626|37330|
|                                                              3939|28026|
|                                                              6161|25992|
|                                                              1414|18199|
|                                                            129129|14688|
|                                                                77|14688|
|                                                              4242|14502|
|                                                              3737|14424|
|                                                              8989|13976|
|                                                            216216|13716|
|                                                              3535|12829|
|                                                            132265|12542|
|                                                             18861|11814|
|                                                              9595|11548|
|                                                              3637|11491|
|                                                              3736|11487|
|                                                             61188|11462|
|                                                             61225|11342|
|                                                            188188|11308|
+------------------------------------------------------------------+-----+
only showing top 20 rows

In [120]:
spark.sql("""
select "PULocationID","DOLocationID", count(*) as trip_count
	from fhvhv_data  
	where "DOLocationID" != 265 and "DOLocationID" != 264
	group by ("PULocationID","DOLocationID") 
	order by  trip_count desc
""").show()

+------------+------------+----------+
|PULocationID|DOLocationID|trip_count|
+------------+------------+----------+
+------------+------------+----------+